.footer {
  margin: auto;
  width: 84%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  font-size: 30px;

  a {
    color: var(--white-cl);
    text-decoration: none;
  }

  i {
    margin-right: 15px;
    font-size: 50px;
  }

  .footer-item {
    z-index: 10;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    width: 90%;
  }
}

@media screen and(max-width: 768px) {
  .footer {
    padding: 0 0.9375rem;
    width: 100%;
  }
}
