@use "../globals" as *;
@use "../utilities" as *;

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  z-index: 20;
  position: relative;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background-color: white;
  pointer-events: none;
}

.slide {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #17181a;
}

.hero-img {
  width: 50%;
  position: relative;
  height: 50vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: rem(30);
  position: relative;

  h2 {
    font-family: "Abril Fatface";
    font-size: rem(55);
    letter-spacing: 2px;
    font-weight: 500;
  }

  p {
    padding: rem(20) 0;
    font-size: rem(16);
    color: rgba(223, 223, 223);
  }

  ul {
    margin-bottom: rem(20);
  }

  li {
    margin-left: rem(30);
  }
}

.hyppe-span {
  color: rgba(86, 124, 228);
}
.wooder-span {
  color: rgba(167, 110, 231);
}
.natours-span {
  color: rgba(255, 139, 93);
}

.explore {
  padding: 1rem 2rem;
  border: none;
  background: none;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  font-size: rem(16);
  align-self: flex-start;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links {
  font-size: rem(40);
  padding: 0 rem(200);
  cursor: pointer;

  h3 {
    padding: rem(20) 0;
    transition: 0.3s;
  }

  h3:hover {
    color: rgb(86, 124, 228);
  }
}

.contact {
  padding: 0 rem(50);
  h2 {
    font-size: rem(40);
    padding: rem(20) 0;
    color: rgba(255, 139, 93);
  }
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background-color: #17181a;
  top: -15%;
  left: 0;
}

.cursor {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.nav-active {
  background-color: rgb(86, 124, 228);
  transform: scale(2);
  z-index: 0;
}

.cursor.explore-active {
  background-color: white;
  transform: scale(2.5);
}

.scrollmagic-pin-spacer {
  position: static !important;
}

#logo {
  letter-spacing: 1.5px;
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(8);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1 {
  background-color: rgb(86, 124, 228);
}
.t-swipe2 {
  background-color: rgba(167, 110, 231);
}
.t-swipe3 {
  background-color: rgba(255, 139, 93);
}

body.hide {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 0;
  }

  .slide {
    display: block;
    width: 100%;
    text-align: center;
    padding: 30px 15px;
  }

  .hero-img {
    height: 60vh;
    width: 100%;
    margin: 0 auto;
  }

  .hero-desc {
    justify-content: center;
    align-items: center;
    padding-left: 0;

    h2 {
      font-size: 40px;
      margin-top: 20px;
    }

    .explore {
      width: 40%;
      margin: auto;
    }
  }

  .nav-bar {
    display: block;
  }

  .nav-links {
    text-align: center;
    margin-top: 100px;
    padding: 0;
  }

  .contact {
    h2 {
      text-align: center;
    }
    P {
      text-align: center;
    }
  }
}
