@use "../globals" as *;
@use "../utilities" as *;

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.line1,
.line1 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
}
